{% load static %}
<!DOCTYPE html>
<html lang="{{request.LANGUAGE_CODE}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://unpkg.com/sanitize.css@11.0.0/sanitize.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.22/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.22/datatables.min.js"></script>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {% block style %}

  {% endblock %}

</head>
<body>
  <main>
  {% block content %} 

  {% endblock %}
  </main>
  <script>
    const params = new URLSearchParams(window.location.search);
    ['email', 'secret'].forEach((field) => {
      const value = params.get(field);
      if(value) {
        localStorage.setItem(field, value);
        sessionStorage.setItem(field, value);
      }
    });
  </script>
</body>
</html>
