{% extends 'vote/base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Stimme abgeben' %} - {{votation.title}}
{% endblock %}

{% block content %}
<h1>{{votation.title}}</h1>
<h2>{% trans 'Stimme bestätigen' %}</h2>
<form action="" method="post" editable="false">
  {% csrf_token %}
  {% trans 'Deine E-Mail:' %} {{form.email.value}}</br>
  {% trans 'Deine Stimme:'%}  <b>{{form.option.value|upper}}</b></br>
  {% for field in form %}
  <input type="hidden" name="{{field.name}}" value="{{field.value}}">
  {% endfor %}
  <input type="hidden" name="confirm" value="1">
  <div class="buttons">
  <input type="submit" value="{% trans 'Abgabe bestätigen' %}">
  </div>
</form>
<a href="{% url 'vote' pk=votation.pk %}">
  {% trans 'Zurück' %}
</a>
{% endblock %}
