{% extends 'vote/base.html' %}
{% load i18n %}

{% block title %}
{{votation.title}}
{% endblock %}

{% block style %}
{% for result in votation.get_results %}
<style>
.{{result.0|slugify}}::after {
  content: "{{result.0}}";
}
</style>
{% endfor %}
{% endblock %}

{% block content %}
<h1>{{votation.title}}</h1>
<p>
{{votation.description}}
</p>
{% if votation.is_open %}
<p>
<a href="{% url 'vote' pk=votation.pk %}" class="button">
  {% trans 'Abstimmen' %}
</a>
</p>
{% endif %}
{% if votation.is_closed and votation.show_end_results or votation.allow_intermediate or request.user.is_authenticated %}
{% if votation.is_closed %}
<h2>{% trans 'Definitive Resultate' %}</h2>
{% else %}
<h2>{% trans 'Vorläufige Resultate' %}</h2>
{% endif %}
<h3>{% trans 'total' %}</h3>
<table class="results">
  <tbody>
    <tr>
      <th>{% trans 'Eingegangene Stimmen' %}</th>
      <td>{{votation.total_votes_count}}</th>
    </tr>
    {% for result in votation.get_results %}
    <tr>
      <th>{{result.0}}</th>
      <td>{{result.1|default:"-"}}</th>
    </tr>
    {% endfor %}
    <tr>
      <th>{% trans 'Massgebende Stimmen' %}</th>
      <td>{{votation.vote_count }}</td>
    </tr>

    <tr>
      <th>{% trans 'Total Stimmende' %}</th>
      <td>{{votation.voter_count|default:"-" }}</td>
    </tr>
    {% if votation.show_absolute_majority %}
    <tr>
      <th>{% trans 'Absolutes Mehr' %}</th>
      <td>{{votation.absolute_majority}}</td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% else %}
<p>
-
</p>
{% endif %}
<h3>{% trans 'Stimmen' %}</h3>
<label for="filterCode">
  {% trans 'Nach Code suchen' %}
</label>
<input type="text" id="filterCode" onkeyup="filterTableCodes();">
<span class="help">{% trans 'Nur den Anfang deines Codes eingeben' %}</span>

{% if votation.display_sections %}
<label for="filterSection">
  {% trans 'Nach Sektion suchen' %}
</label>
<input type="text" id="filterSection" onkeyup="filterTableSection();">
{% endif %}

<table class="results" id="votes">
  <thead>
    <tr>
      <th>{% trans 'Code' %}</th>
      {% if votation.display_sections %}
      <th>{% trans 'Sektion' %}</th>
      {% endif %}
      <th>{% trans 'Wahl' %}</th>
      {% if votation.counted_votation %}
      <th>{% trans 'Punkte' %}</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for vote in votation.checked_votes %}
    <tr>
      <td>{{vote.public_view}}</td>
      {% if votation.display_sections %}
      <td>{{vote.section}}</td>
      {% endif %}
      <td class="{{vote.vote|slugify}}"></td>
      {% if votation.counted_votation %}
      <td>{{vote.count}}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>
<a href="{% url 'votation-list' %}">
  {% trans 'Zurück zu allen Abstimmungen' %} 
</a>
</p>
<script>
  window.table = $('#votes').DataTable({
    dom: "t",
    pageLength: 20,
  });

  const filterTableCodes = () => {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;

    input = document.getElementById("filterCode");
    filter = input.value.toUpperCase();
    window.table.column(0).search(filter).draw();
  }

  function filterTableSection(){
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("filterSection");
    filter = input.value.toUpperCase();
    window.table.column(1).search(filter).draw();
  }
</script>
{% endblock %}
