{% extends 'vote/base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Stimme abgeben' %} - {{votation.title}}
{% endblock %}

{% block content %}
<h1>{{votation.title}}</h1>
<h2>{% trans 'Abstimmen' %}</h2>
<form action="" method="post" id="vote-form">
  {% csrf_token %}
  {{form}}
  <div class="buttons">
  <input type="submit" value="{% trans 'Absenden' %}">
  </div>
</form>
  <a href="{{votation.get_absolute_url}}">{% trans 'Zurück' %}</a>

  <script> 
    document.getElementById('id_code').setAttribute('value', sessionStorage.getItem('secret') || '');
    document.getElementById('id_email').setAttribute('value', sessionStorage.getItem('email') || '');

    document.getElementById('vote-form').addEventListener('submit', () => {
      sessionStorage.setItem('email', document.getElementById('id_email').value);
      sessionStorage.setItem('secret', document.getElementById('id_code').value);
    });
  </script>
  {% endblock %}
