version: '3.7'

services:
  web:
    image: sacovo/evote
    command: gunicorn -w 2 -k uvicorn.workers.UvicornH11Worker asgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/storage/static/
      - media_volume:/home/app/web/storage/media/
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod
  nginx:
    build: ./nginx
    volumes:
      - static_volume:/home/app/web/storage/static/
      - media_volume:/home/app/web/storage/media/
    expose:
      - 80
    restart: always
    networks:
      - web
      - default
    depends_on:
      - web
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.protocol=http"
      - "traefik.basic.port=80"
    # - "traefik.basic.frontend.rule=Host:example.com"
volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  web:
    external: true
