asgiref==3.2.7
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.6
django-ckeditor==5.9.0
django-content-editor==2.0.0
django-imagefield==0.11.3
django-js-asset==1.2.2
django-tree-queries==0.3.3
feincms3==0.33.1
feincms3-meta==3.0.1
feincms3-sites==0.10.0
html-sanitizer==1.9.0
idna==2.9
lxml==4.5.0
Pillow==7.1.2
psycopg2==2.8.5
pytz==2020.1
requests==2.23.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.9
